<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="dotnet-core" value="https://dotnetfeed.blob.core.windows.net/dotnet-core/index.json" />
        <add key="bdn-CI" value="https://ci.appveyor.com/nuget/benchmarkdotnet" />
    </packageSources>
</configuration>
